@font-face {
    font-family: lemontuesday;
    src: url(fonts/Lemon\ Tuesday.otf);
}
@font-face {
    font-family: nautilus;
    src: url(fonts/Nautilus.otf);
}
html {
    height: 100%;
}
body {
    --thumbnails-image-width: 25vw;
    --thumbnails-image-height: 15vw;
    --thumbnails-title-height: calc(var(--thumbnails-image-height)*0.6);
    --details-image-width: 60vw;
    --details-image-height: 50vw;
}
body {
    height: 100%;
    background-color: azure;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.logo {
    display: block;
    text-align: center;
    background-color: rgb(240, 190, 227);
    font-size: 1.2em;
    color: rgb(36, 2, 37);
    font-family: lemontuesday;
    text-transform: uppercase;
}
h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}
.main-class.hidden {
    justify-content: space-around;
}
.details-container {
    display: flex;
    flex-direction: column;  
    align-items: center; 
    margin-bottom: 1vh;
    background-color: azure;
    transition: 5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    
}
.details-image {
    width: var(--details-image-width);
    height: var(--details-image-height);
    border-radius: 25%;
}
.hidden .details-container {
    display: none;
}
.details-frame {
    position: relative;
}
.details-title {
    display: block;
    text-align: center;
    font-family: nautilus;
    color: rgb(90, 5, 93);
    background-color: whitesmoke;
    position: absolute;
    bottom: 1.5vh;
    left: 2.5vw;
}
#hide-button {
    position: absolute;
    right: 3vw;
    top: 2.5vh;
}
.thumbnails-list {
    display: flex;
    flex-wrap: wrap;
    max-height: 37vh;
    overflow-y: scroll;
    list-style: none;
    justify-content: space-around;
    padding-left: 0;
}
.hidden .thumbnails-list {
    max-height: 60vh;
}
.thumbnails-item {
    margin-top: 1vh;
    border-radius: 35%;
    overflow: hidden;
    min-height: calc(var(--thumbnails-image-height) + var(--thumbnails-title-height));
    min-width: var(--thumbnails-image-width);
    max-width: var(--thumbnails-image-width);
    max-height: calc(var(--thumbnails-image-height) + var(--thumbnails-title-height));
    margin-left: 1vw;
}
.thumbnails-item:hover {
    transform: scale(1.1);
}
.thumbnails-image {
    display: block;
    width: var(--thumbnails-image-width);
    height: var(--thumbnails-image-height);
}
.thumbnails-anchor {
    display: flex;
    flex-direction: column;  
    align-items: center; 
    text-decoration: none; 
}
.thumbnails-title {
    display: block;
    height: var(--thumbnails-title-height);
    font-family: nautilus;
    color: rgb(90, 5, 93);
    font-size: 0.75em;
    text-align: center;
}
.is-point {
    transform: scale(0.001);
    transition: 0ms;
}

@media (min-width: 560px) {
    body {
        --thumbnails-image-width: 10vw;
        --thumbnails-image-height: 7vw;
        --details-image-width: 45vw;
        --details-image-height: 35vw;
    }
    .main-class {
        flex-direction: row;
        list-style: none;
        justify-content: space-around;
    }   
    .logo {
        font-size: 0.9em;
        margin-top: 0;
        margin-bottom: 0;
    }
   
    .details-image {
        height: var(--details-image-height);
        width: var(--details-image-width);
    }   
    .details-title {
        font-size: 1.1em;
        bottom: 4vh;
        left: 2vw;
    }
    .details-container {
        display: flex;
        flex-direction: column;  
        align-items: center; 
        margin-top: 1vw;
        background-color: azure;
    }
    .thumbnails-list {
        order: -1;
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 75vh;
        justify-content: flex-start;
        padding-right: 2vw;
    }

    .hidden .thumbnails-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-height: 75vh;
    }
}
@media (min-width: 1000px) {
    .details-container {
        margin-top: 5vh;
        margin-right: 5vw;
    }
    
    .thumbnails-list {     
        margin-top: 2.5vh;
        max-height: 86vh;
    }

    .thumbnails-title {
        font-size: 1.5em;
    }
}


