@font-face {
    font-family: lemontuesday;
    src: url(fonts/Lemon\ Tuesday.otf);
}
@font-face {
    font-family: nautilus;
    src: url(fonts/Nautilus.otf);
}
html {
    height: 100%;
}
body {
    height: 100%;
    background-color: azure;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.logo {
    display: block;
    text-align: center;
    background-color: rgb(240, 190, 227);
    font-size: 1.2em;
    color: rgb(36, 2, 37);
    font-family: lemontuesday;
    text-transform: uppercase;
}
.main-class {
    display: flex;
    flex-direction: column;
}
.details-container {
    display: flex;
    flex-direction: column;  
    align-items: center; 
    background-color: azure;
}
.details-image {
    width: 45vw;
}
.details-title {
    display: block;
    text-align: center;
    font-family: nautilus;
    color: rgb(90, 5, 93);
}
.thumbnails-list {
    display: flex;
    flex-wrap: wrap;
    max-height: 35vh;
    overflow-y: scroll;
    list-style: none;
    justify-content: space-around;
    padding-left: 0;
}
.thumbnails-item {
    border-radius: 50%;
    margin-bottom: 3vw;
}
.thumbnails-image {
    width: 20vw;
    height: 15vw;
    border-radius: 50%;
    margin: 1vw;
}
.thumbnails-anchor {
    display: flex;
    flex-direction: column;  
    align-items: center; 
    text-decoration: none; 
}
.thumbnails-title {
    display: block;
    font-family: nautilus;
    color: rgb(90, 5, 93);
}

@media (min-width: 560px) {
    .main-class {
        flex-direction: row;
        list-style: none;
        justify-content: space-around;
    }   
    .logo {
        font-size: 0.9em;
        margin-top: 0;
        margin-bottom: 0;
    }
   
    .details-image {
        height: 30vw;
        border-radius: 25%;
    }   
    .details-title {
        font-size: 1.1em;
    }
    .details-container {
        display: flex;
        flex-direction: column;  
        align-items: center; 
        margin-top: 1vw;
        background-color: azure;
    }
    .thumbnails-list {
        order: -1;
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 70vh;
        min-width: 30vh;
        justify-content: flex-start;
    }
    .thumbnails-item {
        min-height: 9vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
    }
    .thumbnails-image {
        width: 10vw;
        height: 7vw;
        border-radius: 50%;
        margin: 2px;
    }
    .thumbnails-title {
     display: block;
     font-size: 0.7em;
    }
}

@media (min-width: 1000px) {

}

