body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    font-size: 2.5em;
}
#question {
    font-size: 1.5em;
}
.word {
    display: flex;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.letter {
    font-size: 3em;
    text-align: center;
    background-color: black;
    color: black;
    width: 5vw;
    height: 5vw;
    margin-right: 2vw;
}
#result-message {
    font-size: 2em;
}
#play-again {
    font-size: 1.5em;
    background-color:lightblue;
}
#word-input {
    font-size: 1.3em;
}
#guess-button {
    margin-top: 2vw;
    font-size: 1.3em;
}
#letters-remained{
    font-size: 1.3em;
}
#letters-remained{
    font-size: 1.3em;
}
#letter-input{
    font-size: 1.3em;
}