body {
    background-color: rgb(161, 204, 159);
}.logo {
    display: block;   
    margin-top: 3vh;
    margin-left: 15vh;
    height: 3vw;
    font-size: 3em;
}
.guess-input {
    display: flex;   
    margin-left: 5vh;
    height: 2.5vw;
    font-size: 1.2em;
}
.guess-letters {
    margin-top: 3vh;
    display: flex;
    margin-left: 5vh;
    text-align: center;
    flex-direction: row;
}
.game-status {
    margin-left: 5vh;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
}
.game-result {
    margin-top: 3vh;
    display: flex;
    font-size: 1.5em;
    flex-direction: column;
}
.play-again {
    display: block;
    width: 40vh;
    background-color: rgb(131, 176, 223);
    border: 1px solid black;
    text-align: center;
    font-size: 1.5em;
}
.letter {
    width: 5vw;
    height: 4vw;
    background-color: grey;
    border: 1px solid black;
    text-align: center;
    font-size: 1.5em;
}
